*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background: hsl(180, 52%, 96%);
    --filter: hsl(180, 31%, 95%);
    --text: hsl(180, 8%, 52%);
    --feature: hsl(180, 14%, 20%);
    --mainBack: hsl(180, 29%, 50%);
}

html{
    font-size: 62.5%;
    font-family: 'Spartan', sans-serif;
}

.design{
    width: 100%;
    background-color: var(--mainBack);
    height: 180px;
}

.design img{
    width: 100%;
    height: 100%;
}

.main-container{
    width: 100%;
    height: 100%;
    background: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main-container :nth-child(10){
    margin-bottom: 50px;
}

.job-container{
    width: 85%;
    height: 300px;
    margin:  auto;
    background: white;
    position: relative; 
    margin-top: 50px;
    align-self: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.job-container img{
    width:61px;
    height: 61px;
    position: absolute;
    top:-12%;
}

.company{
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: flex-start;
}

.company h1{
    margin-right: 20px;
}



.company h1,
.tags p{
    color: var(--mainBack);
    font-size: 1.5rem;
}

.tags p{
    font-weight: 700;
}

.company :nth-child(2){
    border: 1px solid;
    width: 60px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--mainBack);
    color: white;
    font-weight: 700;
    font-size: 1.3rem;
    margin-right: 8px;
    padding-top: 3px;
}

.company :nth-child(3){
    width: 100px;
    border: 1px solid;
    height: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--feature);
    color: white;
    font-weight: 700;
    font-size: 1.3rem;
    text-align: center;
    padding-top: 3px;

}

.job-info{
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.job-info h1{
    font-size: 1.7rem;
    margin-bottom: 15px;
}

.job-info p{
    font-size: 1.5rem;
    color: var(--text);
}

.job-info p span{
    margin: 0 5px;
}

.divider{
    width: 99%;
    height: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

.tags{
    display: flex;
    flex-wrap: wrap;
    height: 100px;
}

.tags .tag{
    border: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    background-color: var(--filter);
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 18px;
}


.js,
.mid{
    width: 110px;
   
}

.frontend,
.fullstack,
.backend
{
    width: 100px;

}

.senior,
.junior,
.html,
.react,
.python,
.django,
.Sass
{
    width: 70px;
}

.css,
.ruby,
.ror,
.vue
{
    width: 50px;
}

.tags p{
    cursor: pointer;
}





